/* https://colorhunt.co/palette/133103 */
/* ff9a00  color of favicon*/
body {
  background: #2b2b28;
  font-family: "Roboto", sans-serif;
  color: #ebebe3;
}

h1,
h2 {
  margin: auto;
  text-align: center;
}

footer {
  margin: auto;
  text-align: center;
  color: #4a4a48;
}

#scoreX {
  padding-right: 20px;
}

#audio {
  top: 10px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

#containAudioPlayer {
  top: 10px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

#restart {
  margin: 0px auto;
  text-align: center;
  padding-left: 0px;
}
#result-values {
  text-align: center;
}

button {
  background: #2b2b28;
  font-family: "Roboto", sans-serif;
  color: #ebebe3;
}

table {
  margin: 30px auto;
  z-index: 1;
}

.divClicks {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 75px auto;
  background-color: #2b2b28;
  opacity: 0;
  z-index: 15;
  width: 318px;
  height: 313px;
}

td {
  height: 104px;
  width: 102px;
}

.a {
  border-top: 1px solid #ebebe3;
  border-bottom: 1px solid #ebebe3;
}

.b {
  border-left: 1px solid #ebebe3;
  border-right: 1px solid #ebebe3;
}

.x {
  margin-left: 20px;
  text-align: center;
  font-size: 5em;
  animation: text 0.2s 1;
}

.o {
  margin-left: 20px;
  text-align: center;
  font-size: 5em;
  animation: text 0.2s 1;
}

@keyframes text {
  0% {
    justify-content: center;
    text-align: center;
    color: #2b2b28;
    font-size: 0px;
  }
}
