/* https://colorhunt.co/palette/133103 */

body {
  background: #2b2b28;
  font-family: "Roboto", sans-serif;
  color: #ebebe3;
}

h1,
h2 {
  margin: auto;
  text-align: center;
}

#audio {
  margin: 70px auto;
  text-align: center;
}

#restart {
  margin: auto;
  text-align: center;
  padding-left: 0px;
}

button {
  background: #2b2b28;
  font-family: "Roboto", sans-serif;
  color: #ebebe3;
}

table {
  margin: 30px auto;
}

td {
  height: 100px;
  width: 100px;
}

.a {
  border-top: 1px solid #ebebe3;
  border-bottom: 1px solid #ebebe3;
}

.b {
  border-left: 1px solid #ebebe3;
  border-right: 1px solid #ebebe3;
}

.x {
  margin-left: 20px;
  text-align: center;
  font-size: 5em;
}

.o {
  margin-left: 20px;
  text-align: center;
  font-size: 5em;
}
